<div class="jumbotron">
<%= @user.inspect %>
  <h1>Welcome to Whatimeisit!</h1>
  <p>You can now find out what time it will be next Friday at 3 am your time in Canada!</p>

  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>