<%= form_for :session do |f| %> 
     <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email%>
    </div>
     <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password%>
    </div>
    <div class="form-group">
        <%= f.submit 'Submit', class: 'btn btn-default' %>
    </div>
<% end %>