<%= form_for @user do |f| %> 
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
     <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email%>
    </div>
     <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password%>
    </div>
     <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
    </div>
    <div class="form-group">
        <!-- If new user, let's call the button "Sign Up", if existing, then "Update" -->
       
        <% if @user.new_record? %>
            <% submit_label = "Sign Up" %>
        <% else %>
             <% submit_label = "Update" %>
        <% end %>
        
            <%= f.submit submit_label, class: 'btn btn-default' %>
    </div>
<% end %>