<h1>List of all Users</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
        </tr>
    <% end %>
</table>