<h1><%= @user.name %></h1>
<table>
    <tr>
        <td>
            Name:
        </td>
        <td>
            <%= @user.name %>
        </td>
    </tr>
    <tr>
        <td>
            Email:
        </td>
        <td>
            <%= @user.email %>
        </td>
    </tr>
</table>
