<%= form_for @cat do |f| %> 
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
     <div class="form-group">
        <%= f.label :colour %>
        <%= f.select :colour, [['Red', 'red'], ['Orange','orange'], ['Black', 'black']] %>
    </div>
    <div class="form-group">
        <%= f.submit 'Submit', class: 'btn btn-default' %>
    </div>
<% end %>