<h1> All Cats</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Destroy Kitty?</th>
    </tr>
     <% @cats.each do |c| %>
    
    <tr>
        <td> <%= link_to c.name, edit_cat_path(id: c.id) %> who is <%= c.colour %> in colour. </td>
        <td><%= link_to "Destroy Kitty", cat_path(id: c.id), method: :delete, confirm: 'Are you sure?' %> </td>
    </tr>
           
      
    <% end %>   
    
</table>
    
