<nav class="navbar navbar-default">
    <div class='col-xs-4'>
        <h1>Whatimeisit</h1>
    </div>
    <div class='col-xs-4 col-xs-offset-4'>
        <ul class="nav nav-pills" role="tablist">

          <li role="presentation" <%= current_page?('/' ) ? "class=active" : "" %> ><%= link_to 'Home', root_path %></li>
          <li role="presentation" <%= current_page?(controller: '/cats', action: 'index') ? "class=active" : "" %>  ><%= link_to 'ListCats', cats_path %></li>
          <li role="presentation" <%= current_page?(controller: '/static_pages', action: 'about') ? "class=active" : "" %> ><%= link_to 'About', about_path %></li>
          <% 
              if user_signed_in?
                  the_link = link_to 'Sign Out', destroy_user_session_path, method: :delete
              else
                  the_link = link_to 'Sign In', new_user_session_path 
              end
          %>
          <li role="presentation"> <%=  the_link %></li>
        </ul>
        
    </div>
</nav>